<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>Suggestions Box With AngularJS</title>
	
	<script src="../node_modules/angular/angular.js"></script>	
	<script src="../node_modules/angular-route/angular-route.min.js"></script>	
	
	<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico" />
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body ng-app="SuggestionsBox">
	
	<div class="container" ng-controller="homeController as homeCntrl">
		<h1 class="text-center">{{homeCntrl.pageTitle}}</h1>

		<ul class="list-unstyled">
			<li ng-repeat="suggestion in homeCntrl.suggestions | orderBy: '-upvotes'">
				<h4>
					{{ suggestion.title }}
				</h4>
				<p>
					<span>Upvotes: {{suggestion.upvotes}}</span>
					<span class="glyphicon glyphicon-plus-sign" ng-click="homeCntrl.upVote(suggestion)"></span>
					<span class="glyphicon glyphicon-minus-sign" ng-click="homeCntrl.downVote(suggestion)"></span>
				</p>
			</li>
		</ul><!-- /.unstyled-list -->

		
		<form ng-submit="homeCntrl.addSuggestion()" style="margin-top: 50px">
			<h3> Submit Your Suggestion </h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Great ideas here" ng-model="homeCntrl.suggestionTitle"></input>
			</div>
			<button type="submit" class="btn btn-primary">Suggest</button>
		</form>

	</div><!-- /.container -->
	
	<!-- App -->
	<script src="js/app.js" type="text/javascript"></script>

	<!-- Controllers -->
	<script src="js/controllers/homeController.js" type="text/javascript"></script>

	<!-- Services -->
	<script src="js/services/suggestionsService.js" type="text/javascript"></script>	

</body>
</html>