<div class="container">
	<div class="suggestions">
		<div class="row">
			<h3>{{vm.post.title}}</h3>
		</div><!-- /.row -->
		
		<div class="row">
			
			<h5 ng-show="vm.post.comments.length">Comments</h5>
			
			<div class="comment" ng-repeat="comment in vm.post.comments">
				<span>Upvotes: {{comment.upvotes}}</span>
				<span class="glyphicon glyphicon-plus-sign" ng-click="vm.upVote(comment)"></span>
				<p>{{comment.text}}</p>	
			</div><!-- /.commet -->

			<form ng-submit="vm.addComment()" style="margin-top: 50px">
				<h4>Add Comment</h4>
				<div class="form-group">
					<textarea class="form-control" id="" cols="30" rows="10" ng-model="vm.commentText" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Comment</button>
			</form>

		</div><!-- /.row -->	

	</div><!-- /.suggestions -->
</div><!-- /.container -->